<!-- Page Content-->
<div class="container-fluid p-0">
  <!-- About-->
  <app-about></app-about>
  <hr class="m-0"/>
  <!-- Projects-->
  <app-project></app-project>
  <!-- Experience-->
  <app-experience></app-experience>
  <hr class="m-0"/>
  <!-- Education-->
 <app-education></app-education>
  <hr class="m-0"/>
  <!-- Skills-->
  <app-skill></app-skill>
  <hr class="m-0"/>
  <!-- Interests-->
  <app-interest></app-interest>
  <hr class="m-0"/>
  <!-- Awards-->
  <app-volunteering></app-volunteering>
</div>
